[submodule "submodules/asyn"]
	path = src/pvi/submodules/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "submodules/copyInfo"]
	path = src/pvi/submodules/copyInfo
	url = https://github.com/dls-controls/copyInfo.git
[submodule "submodules/busy"]
	path = src/pvi/submodules/busy
	url = https://github.com/epics-modules/busy.git
[submodule "src/pvi/submodules/ADCore"]
	path = src/pvi/submodules/ADCore
	url = https://github.com/dls-controls/ADCore.git
	branch = submodule-pvi
[submodule "src/pvi/submodules/ADSimDetector"]
	path = src/pvi/submodules/ADSimDetector
	url = git@github.com:areaDetector/ADSimDetector.git
	branch = master
[submodule "src/pvi/submodules/ADPilatus"]
	path = src/pvi/submodules/ADPilatus
	url = git@github.com:dls-controls/ADPilatus.git
	branch = pvi-pre-convert
