[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-black = "*"
flake8-isort = "*"
sphinx_rtd_theme = "*"
doc8 = "*"
black = "*"
rstcheck = "*"

[packages]
pydantic = "*"
typing-extensions = "*"
ruamel-yaml = "*"

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov-fail-under=90 --cov=pvi --cov-report xml:cov.xml"
docs = "sphinx-build -b html docs build/html"

[pipenv]
allow_prereleases = true
