
### PV Interface for Template Device ###

record("*", "$(P)Read") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.Read.r": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.Read.r",
            }
        }
    })
}

record("*", "$(P)Write") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.Write.w": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.Write.w",
            }
        }
    })
}

record("*", "$(P)ReadWrite") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.ReadWrite.w": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.ReadWrite.w",
            }
        }
    })
}

record("*", "$(P)ReadWrite_RBV") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.ReadWrite.r": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.ReadWrite.r",
            }
        }
    })
}

record("*", "$(P)ReadWriteSingle") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.ReadWriteSingle.rw": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.ReadWriteSingle.rw",
            }
        }
    })
}

record("*", "$(P)Execute") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.Execute.x": {
                "+channel": "NAME",
                "+type": "plain",
                "+trigger": "pvi.Execute.x",
            }
        }
    })
}

### End of PV Interface for Template Device ###
