
### PV Interface for Template Device ###

record("*", "$(P)Read") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.Read.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)Write") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.Write.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)ReadWrite") {
    info(Q:group, {
        "$(P)PVI": {
            "pvi.ReadWrite.rw": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

### End of PV Interface for Template Device ###
