
### PV Interface for Template Device ###

record("*", "$(P)$(R)Read") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Read.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Write") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Write.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ReadWrite") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ReadWrite.rw": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

### End of PV Interface for Template Device ###
