# Group: ComponentGroupOne

record(bo, "$(P)$(R)ResetPower") {
    field(DESC, "ResetPower")
    field(DTYP, "asynInt32")
    field(ONAM, "Reset")
    field(ZNAM, "Done")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))RESET_POWER")
}

record(busy, "$(P)$(R)ThresholdApply") {
    field(DESC, "ThresholdApply")
    field(DTYP, "asynInt32")
    field(ONAM, "Apply")
    field(ZNAM, "Done")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))THRESHOLD_APPLY")
}

record(ao, "$(P)$(R)ImageFileTmot") {
    field(DESC, "Timeout for image file")
    field(DTYP, "asynFloat64")
    field(EGU,  "s")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))IMAGE_FILE_TMOT")
    field(PINI, "YES")
    field(VAL,  "20.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Wavelength") {
    field(DESC, "Wavelength")
    field(DTYP, "asynFloat64")
    field(EGU,  "Angstroms")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))WAVELENGTH")
    field(PINI, "YES")
    field(VAL,  "1.54")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)EnergyLow") {
    field(DESC, "EnergyLow")
    field(DTYP, "asynFloat64")
    field(EGU,  "eV")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ENERGY_LOW")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)EnergyHigh") {
    field(DESC, "EnergyHigh")
    field(DTYP, "asynFloat64")
    field(EGU,  "eV")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ENERGY_HIGH")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)DetDist") {
    field(DESC, "DetDist")
    field(DTYP, "asynFloat64")
    field(EGU,  "mm")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))DET_DIST")
    field(PINI, "YES")
    field(VAL,  "1000.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)DetVOffset") {
    field(DESC, "DetVOffset")
    field(DTYP, "asynFloat64")
    field(EGU,  "mm")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))DET_VOFFSET")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)BeamX") {
    field(DESC, "BeamX")
    field(DTYP, "asynFloat64")
    field(EGU,  "pixels")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))BEAM_X")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)BeamY") {
    field(DESC, "BeamY")
    field(DTYP, "asynFloat64")
    field(EGU,  "pixels")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))BEAM_Y")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Flux") {
    field(DESC, "Flux")
    field(DTYP, "asynFloat64")
    field(EGU,  "ph/s")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))FLUX")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)FilterTransm") {
    field(DESC, "FilterTransm")
    field(DTYP, "asynFloat64")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))FILTER_TRANSM")
    field(PINI, "YES")
    field(VAL,  "1.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)StartAngle") {
    field(DESC, "StartAngle")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))START_ANGLE")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)AngleIncr") {
    field(DESC, "AngleIncr")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ANGLE_INCR")
    field(PINI, "YES")
    field(VAL,  "0.1")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Det2theta") {
    field(DESC, "Det2theta")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))DET_2THETA")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Polarization") {
    field(DESC, "Polarization")
    field(DTYP, "asynFloat64")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))POLARIZATION")
    field(PINI, "YES")
    field(VAL,  "0.99")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Alpha") {
    field(DESC, "Alpha")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ALPHA")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Kappa") {
    field(DESC, "Kappa")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))KAPPA")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)Phi") {
    field(DESC, "Phi")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PHI")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)PhiIncr") {
    field(DESC, "PhiIncr")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PHI_INCR")
    field(PINI, "YES")
    field(VAL,  "0.1")
}

record(ao, "$(P)$(R)Chi") {
    field(DESC, "Chi")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))CHI")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)ChiIncr") {
    field(DESC, "ChiIncr")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))CHI_INCR")
    field(PINI, "YES")
    field(VAL,  "0.1")
}

record(ao, "$(P)$(R)Omega") {
    field(DESC, "Omega")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))OMEGA")
    field(PINI, "YES")
    field(VAL,  "0.0")
}

record(ao, "$(P)$(R)OmegaIncr") {
    field(DESC, "OmegaIncr")
    field(DTYP, "asynFloat64")
    field(EGU,  "deg")
    field(PREC, "4")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))OMEGA_INCR")
    field(PINI, "YES")
    field(VAL,  "0.1")
}

record(stringout, "$(P)$(R)OscillAxis") {
    field(DESC, "OscillAxis")
    field(DTYP, "asynOctetWrite")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))OSCILL_AXIS")
    field(PINI, "YES")
    field(VAL,  "X, CW")
    info(autosaveFields, "VAL")
}

record(longout, "$(P)$(R)NumOscill") {
    field(DESC, "NumOscill")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))NUM_OSCILL")
    field(PINI, "YES")
    field(VAL,  "1")
    info(autosaveFields, "VAL")
}

record(waveform, "$(P)$(R)BadPixelFile") {
    field(DESC, "BadPixelFile")
    field(DTYP, "asynOctetWrite")
    field(FTVL, "CHAR")
    field(NELM, "256")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))BAD_PIXEL_FILE")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(waveform, "$(P)$(R)FlatFieldFile") {
    field(DESC, "FlatFieldFile")
    field(DTYP, "asynOctetWrite")
    field(FTVL, "CHAR")
    field(NELM, "256")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))FLAT_FIELD_FILE")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(waveform, "$(P)$(R)CbfTemplateFile") {
    field(DESC, "CbfTemplateFile")
    field(DTYP, "asynOctetWrite")
    field(FTVL, "CHAR")
    field(NELM, "256")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))CBFTEMPLATEFILE")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(waveform, "$(P)$(R)HeaderString") {
    field(DESC, "HeaderString")
    field(DTYP, "asynOctetWrite")
    field(FTVL, "CHAR")
    field(NELM, "68")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))HEADERSTRING")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(bi, "$(P)$(R)Armed") {
    field(DESC, "Armed")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARMED")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(ONAM, "Armed")
    field(ZNAM, "Unarmed")
}

record(longin, "$(P)$(R)NumBadPixels") {
    field(DESC, "Number of bad pixels")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))NUM_BAD_PIXELS")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
}

record(bi, "$(P)$(R)FlatFieldValid") {
    field(DESC, "Flat field valid")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))FLAT_FIELD_VALID")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(ONAM, "Yes")
    field(ZNAM, "No")
}

record(ai, "$(P)$(R)PixelCutOff_RBV") {
    field(DESC, "PixelCutOff_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PIXEL_CUTOFF")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(EGU,  "counts")
}

record(ai, "$(P)$(R)Temp0_RBV") {
    field(DESC, "Temp0_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_TEMP_0")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "C")
    field(PREC, "1")
}

record(ai, "$(P)$(R)Temp1_RBV") {
    field(DESC, "Temp1_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_TEMP_1")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "C")
    field(PREC, "1")
}

record(ai, "$(P)$(R)Temp2_RBV") {
    field(DESC, "Temp2_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_TEMP_2")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "C")
    field(PREC, "1")
}

record(ai, "$(P)$(R)Humid0_RBV") {
    field(DESC, "Humid0_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_HUMID_0")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "%")
    field(PREC, "1")
}

record(ai, "$(P)$(R)Humid1_RBV") {
    field(DESC, "Humid1_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_HUMID_1")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "%")
    field(PREC, "1")
}

record(ai, "$(P)$(R)Humid2_RBV") {
    field(DESC, "Humid2_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TH_HUMID_2")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "%")
    field(PREC, "1")
}

record(stringin, "$(P)$(R)TVXVersion_RBV") {
    field(DESC, "TVXVersion_RBV")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TVXVERSION")
    field(DTYP, "asynOctetRead")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P)$(R)ResetPowerTime_RBV") {
    field(DESC, "Reset module power wait time")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))RESET_POWER_TIME")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(EGU,  "Seconds")
}

record(longout, "$(P)$(R)ResetPowerTime") {
    field(DESC, "Reset module power wait time")
    field(DTYP, "asynInt32")
    field(EGU,  "Seconds")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))RESET_POWER_TIME")
    field(PINI, "YES")
    field(VAL,  "1")
}

record(ai, "$(P)$(R)DelayTime_RBV") {
    field(DESC, "DelayTime")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))DELAY_TIME")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "s")
    field(PREC, "6")
}

record(ao, "$(P)$(R)DelayTime") {
    field(DESC, "DelayTime")
    field(DTYP, "asynFloat64")
    field(EGU,  "s")
    field(PREC, "6")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))DELAY_TIME")
    field(PINI, "YES")
    field(VAL,  "0.0")
    info(autosaveFields, "VAL")
}

record(ai, "$(P)$(R)ThresholdEnergy_RBV") {
    field(DESC, "Energy threshold")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))THRESHOLD")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "keV")
    field(PREC, "3")
}

record(ao, "$(P)$(R)ThresholdEnergy") {
    field(DESC, "Energy threshold")
    field(DTYP, "asynFloat64")
    field(EGU,  "keV")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))THRESHOLD")
    field(PINI, "YES")
    field(VAL,  "10.0")
    info(autosaveFields, "VAL")
}

record(bi, "$(P)$(R)ThresholdAutoApply_RBV") {
    field(DESC, "ThresholdAutoApply")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))THRESHOLD_AUTO_APPLY")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(ONAM, "Yes")
    field(ZNAM, "No")
}

record(bo, "$(P)$(R)ThresholdAutoApply") {
    field(DESC, "ThresholdAutoApply")
    field(DTYP, "asynInt32")
    field(ONAM, "Yes")
    field(ZNAM, "No")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))THRESHOLD_AUTO_APPLY")
    field(PINI, "YES")
    field(VAL,  "1")
    info(autosaveFields, "VAL")
}

record(ai, "$(P)$(R)Energy_RBV") {
    field(DESC, "X-ray Energy")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ENERGY")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(EGU,  "keV")
    field(PREC, "3")
}

record(ao, "$(P)$(R)Energy") {
    field(DESC, "X-ray Energy")
    field(DTYP, "asynFloat64")
    field(EGU,  "keV")
    field(PREC, "3")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ENERGY")
    field(PINI, "YES")
    field(VAL,  "20.0")
}

record(longin, "$(P)$(R)MinFlatField_RBV") {
    field(DESC, "Minimum flat field value")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))MIN_FLAT_FIELD")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(EGU,  "Counts")
}

record(longout, "$(P)$(R)MinFlatField") {
    field(DESC, "Minimum flat field value")
    field(DTYP, "asynInt32")
    field(EGU,  "Counts")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))MIN_FLAT_FIELD")
    field(PINI, "YES")
    field(VAL,  "100")
    info(autosaveFields, "VAL")
}

record(mbbi, "$(P)$(R)GapFill_RBV") {
    field(DESC, "GapFill")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))GAP_FILL")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(ONST, "0")
    field(ONVL, "0")
    field(TWST, "-1")
    field(TWVL, "-1")
    field(ZRST, "N.A.")
    field(ZRVL, "2")
}

record(mbbo, "$(P)$(R)GapFill") {
    field(DESC, "GapFill")
    field(DTYP, "asynInt32")
    field(ONST, "0")
    field(ONVL, "0")
    field(TWST, "-1")
    field(TWVL, "-1")
    field(ZRST, "N.A.")
    field(ZRVL, "2")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))GAP_FILL")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

